.dataLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 90%;
  height: 50px;
  color: black;
  border: 1px black solid;
  margin: 0 auto -10px auto;
}

#arrow {
  width: 5%;
}

#arrow:hover,
.pencil:hover {
  cursor: pointer;
}

#date {
  width: 25%;
}

#descr {
  width: 30%;
}

#amount,
#balance {
  width: 20%;
}

.moreInfo {
  display: block;
  background: white;
  color: black;
  text-align: left;
  padding: 5px 0 5px 10%;
  margin: 0 auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 90%;
  overflow: hidden;
  color: black;
  animation-name: collapse;
  animation-duration: 600ms;
}
